<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">

	<!-- This just how we connect to the local CSS file in Django -->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>
  <body>
  
  <nav>
  <!--   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NBATM</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navitem active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="menu">
          <a class="menu" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="menu">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li> 
        <li>
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </li>
		<li>
          <a class ="nav-link "href="{% url 'trade' %}">Guest</a>
        </li>
        {% endif %}
      </ul>
</div>	  -->



<ul>
<div class="floatleft">
  <li><a href="#">NBATM</a></li>
  <li><a href="{% url 'home' %}">Home </a></li>
 </div>
  
  <div class="floatright">
		{% if user.is_authenticated %}
        <li class="menu">
          <a  href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="menu">
          <a  href="{% url 'login' %}">Login</a>
        </li> 
        <li>
          <a  href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
		</div>
	
</ul>
  </nav>
 
	<div class="container">
    <main>
      {% block content %}
      {% endblock %}
    </main>
	</div>
  </body>
</html>