<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>NBA Trade Machine</title>

	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">

	<!-- This just how we connect to the local CSS file in Django -->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
	<nav>
	<ul>
<div class="floatleft">
  <li><a href="#">NBATM</a></li>
  <li><a href="{% url 'home' %}">Home </a></li>
 </div>
  
  <div class="floatright">
		{% if user.is_authenticated %}
        <li class="menu">
          <a  href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="menu">
          <a  href="{% url 'login' %}">Login</a>
        </li> 
        <li>
          <a  href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
		</div>
	
</ul>
  </nav>
  	{% load humanize %}
	<div class="container">
		<h1 class="display-4">Trade successful!</h1>
		{% if trade_history %}
        <h5>Trade ID: {{ trade_history|intcomma }} !</h5>
        {% endif %}

            <p class="lead">The trade between the <strong>{{ team1 }}</strong> and the <strong>{{ team2 }}</strong> {% if team3 %} and <strong>{{ team3 }}<strong> {% endif %}was successful.</p>


            <div class="row col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                 <h3>{{ team1 }}</h3>
                         {% for l in list1 %}
                             <li class="list-group-item"> {{ l }}</li>
                         {% endfor %}
                 </div>
     
                 <div class="col-lg-4 col-md-4 col-sm-4 ">
                     <h3>{{ team2 }}</h3>
                         {% for l in list2 %}
                             <li class="list-group-item"> {{ l }}</li>
                         {% endfor %}
                 </div>
                 {% if team3 %}
                 <div class="col-lg-4 col-md-4 col-sm-4 ">
                     <h3>{{ team3|intcomma }}</h3>
                         {% for l in list3 %}
                             <li class="list-group-item"> {{ l }}</li>
                         {% endfor %}
                 </div>
                 {% endif%}
     
             </div>
     
         <div class="row col-lg-12 col-md-12 col-sm-12">
     
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <h3><a class="btn btn-sm btn-danger payroll">Payroll</a> </h3>
                             <li class="list-group-item">Before: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team1payRoll_beforeTrade|intcomma }}</h3></a> </li>
                             <li class="list-group-item">After: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team1payRoll_afterTrade|intcomma }}</h3></a></li>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                 <h3><a class="btn btn-sm btn-danger payroll">Payroll</a> </h3>
                             <li class="list-group-item">Before: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team2payRoll_beforeTrade|intcomma }}</h3></a> </li>
                             <li class="list-group-item">After: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team2payRoll_afterTrade|intcomma }}</h3></a></li>
                </div>
                {% if team3 %}
           <div class="col-lg-4 col-md-4 col-sm-4 ">
            <h3><a class="btn btn-sm btn-danger payroll">Payroll</a> </h3>
                        <li class="list-group-item">Before: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team3payRoll_beforeTrade|intcomma }}</h3></a> </li>
                        <li class="list-group-item">After: <a class="badge"> <span class="glyphicon -dollar"></span> <h3>${{ team3payRoll_afterTrade|intcomma }}</h3></a></li>
           </div>
           {% endif%}
         </div>
     
        {% comment %}<p class="lead">The payroll of {{ team1 }} before the trade was <strong>${{ team1payRoll_beforeTrade|intcomma }}</strong>. The payroll of {{ team2 }} before the trade was <strong>${{ team2payRoll_beforeTrade|intcomma }}</strong>.</p>
		<p class="lead">The payroll of {{ team1 }} after the trade is <strong>${{ team1payRoll_afterTrade|intcomma }}</strong>. The payroll of {{ team2 }} after the trade is <strong>${{ team2payRoll_afterTrade|intcomma }}</strong>.</p>{% endcomment %}
		<br>
		<a class="btn btn-sm" href="/trade/"> Try another trade!</a>
	</div>
</body>
</html>