
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>NBA Trade Machine</title>

	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css">


	<!-- This just how we connect to the local CSS file in Django -->
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
<nav>
<ul>
<div class="floatleft">
  <li><a href="#">NBATM</a></li>
  <li><a href="{% url 'home' %}">Home </a></li>
 </div>
  
  <div class="floatright">
		{% if user.is_authenticated %}
        <li class="menu">
          <a  href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="menu">
          <a  href="{% url 'login' %}">Login</a>
        </li> 
        <li>
          <a  href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
		</div>
	
</ul>
  </nav>
  
  
	<div class="container">
		<div class="row">
			<div id="team1" class="col" >
				<h3>Team 1</h3>
				<div class="dropdown">
				  <button id="dropdownMenuButton1" class="btn btn-secondary btn-lg dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose team</button>
				  <!-- Gets all the teams from the database and puts them in the dropdown -->
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	{% for team in teams %}
				  	<button class="dropdown-item team1dropdown" type="button" value='{{ team.id }}'>{{ team.teamName }}</button>
				  	{% endfor %}
				  </div>
				</div>

				<!-- Player list should come here -->
				<h4>Player list</h4>
                            <!-- a list which will contain the selected players -->


                <ul id="teamplayers1" class="list-group teamplayers" >

                </ul>
				<!-- Trade options, after selecting a player from the other team, the player is added here dynamically -->
				<div id="team1tradeoptions" class="d-none tradeoption">
					<h4>Trade options</h4>
					<div class="list-group tradeplayers"  >
						<!-- a list which will contain all the  players in a team -->
						<ul id="dropablelist1" style="min-height: 100px;background: orange;">
							

						</ul>
								</div>
				</div>
			</div>

			<!-- Basically same stuff for team 2 -->
			<div id="team2" class="col">
				<h3>Team 2</h3>
				<div class="dropdown">
				  <button id="dropdownMenuButton2" class="btn btn-secondary btn-lg dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose team</button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<!-- Same as above, I didn't do this for team 3 because I want to focus on teams 1 and 2 right now -->
				  	{% for team in teams %}
				    <button class="dropdown-item team2dropdown" type="button" value='{{ team.id }}'>{{ team.teamName }}</button>
				    {% endfor %}
				  </div>
				</div>

				<h4>Player list</h4>
				                <!-- a list which will contain the selected players -->

                <ul id="teamplayers2" class="list-group teamplayers" >

                </ul>

				<div id="team2tradeoptions" class="d-none tradeoption">
					<h4>Trade options</h4>
					<div class="list-group tradeplayers"  >
                <!-- a list which will contain all the  players in a team -->
								<ul id="dropablelist2" style="min-height: 100px;background: orange;">
									

								</ul>
                    </div>
				</div>
			</div>

			<div id="team3" class="col d-none">
				<h3>Team 3</h3>
				<div class="dropdown">
				  <button id="dropdownMenuButton3" class="btn btn-secondary btn-lg dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose team</button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<!-- Same as above, I didn't do this for team 3 because I want to focus on teams 1 and 2 right now -->
				  	{% for team in teams %}
				    <button class="dropdown-item team3dropdown" type="button" value='{{ team.id }}'>{{ team.teamName }}</button>
				    {% endfor %}

				  </div>
				</div>

				<h4>Player list</h4>
                <!-- a list which will contain the selected players -->
				<ul id="teamplayers3" class="list-group teamplayers" >

                </ul>

				<div id="team3tradeoptions" class="d-none tradeoption">
					<h4>Trade options</h4>

					<div class="list-group tradeplayers"  >
						<!-- a list which will contain all the  players in a team -->
						<ul id="dropablelist3" style="min-height: 100px;background: orange;">
							

						</ul>
								</div>
				</div>
			</div>

			<div id="addteam3" class="col d-block">
				<button type="button" class="btn btn-secondary" id="addTeam3Btn">Add team 3?</button>
			</div>

		</div>
		
		<button id="testtrade" class="btn btn-primary btn-lg btn-block d-none" type="button">Test Trade!</button>
		<a id="testtradeNotSuccessful" class="btn btn-primary btn-lg btn-block d-none" href="{% url 'failure' %}" type="button">Test Trade!</a>
	</div>


	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js">
	</script>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	

	
<script>
$( function() {


		//Team 1===> 2 and 3
        $('#teamplayers1').sortable({
					revert: true,
					connectWith: "#dropablelist2,#dropablelist3"
				}).disableSelection();
			
				$('#dropablelist2,#dropablelist3').sortable({
					revert: true,
					connectWith: "#teamplayers1"
				}).disableSelection();
				//Team 2===> 1 and 3
				$('#teamplayers2').sortable({
					revert: true,
					connectWith: "#dropablelist1,#dropablelist3"
				}).disableSelection();
		
			$('#dropablelist1,#dropablelist3').sortable({
				revert: true,
				connectWith: "#teamplayers2"
			}).disableSelection();

				//Team 3===> 1 and 2
        $('#teamplayers3').sortable({
					revert: true,
					connectWith: "#dropablelist1,#dropablelist2"
				}).disableSelection();
			
				$('#dropablelist1,#dropablelist2').sortable({
					revert: true,
					connectWith: "#teamplayers3"
				}).disableSelection();
				
				
  } );

 
  </script>
	<!-- This is just how we connect the JavaScript to the HTML in Django-->
	{% load staticfiles %}
	<script src="{% static 'js/trade.js' %}"></script>
	<script src="{% static 'js/my.ajax.js' %}"></script>

<!-- these hidden  elements are for the list to players currently .-->
<input type="hidden" name="currentteam1players" id="currentteam1players">
<input type="hidden" name="currentteam2players" id="currentteam2players">
<input type="hidden" name="currentteam3players" id="currentteam3players">



</body>
</html>
