body {
	align-content: center;
	

}

.container {
	margin-top: 50px;
}


.floatleft {
    float:left;
	
}
.floatright {
    float:right;
}


li{
  display: inline;

  
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #333;
	
}

.floatleft, li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	  display: inline;
}

.floatleft ul {
    list-style-type: none;
	padding: 14px 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.floatright, li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	  display: inline;
}

/* .title-area, li a, ul {
    float: left;
}


} */