.floatleft {
    float:left;
	
}
.floatright {
    float:right;
}


li{
  display: inline;

  
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #333;
	
}

.floatleft, li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	  display: inline;
}

.floatleft ul {
    list-style-type: none;
	padding: 14px 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.floatright, li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	  display: inline;
}

.floatright ul {
    list-style-type: none;
	padding: 14px 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	list-style: none;
    padding: 1em 0;
}

/* Just adding some spacing here, there's probably a better way of doing this */
#dropdownMenuButton1, #dropdownMenuButton2, #dropdownMenuButton3 {
	margin-bottom: 10px;
}
.tradeoption {
	margin-top: 30px;
}
#testtrade {
	margin-top: 40px;
}
#addteam3 {
  margin-top: 40px;
}
#team1, #team2, #team3 h3 {
  margin-top: 25px;
}


/*
   For animation purposes (DOES NOT WORK YET)

   Add "bubble" class to each of the trade options divs to test this.

   Reference: http://decodedpixel.com/snippits/animate-element-after-jquery-append/
*/
.bubble {
	animation: animateElement linear .3s;
	animation-iteration-count: 1;
	background:#e7e7e7;
	margin-bottom:5px;
	width:100%;
	min-height:30px;
	border-radius:10px;
 }
 @keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}